<div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <p>Our Recommendation</p>
            </div>
            <div class="uk-card-media-bottom">
                <!--<img src="\uploads\recommended-watch.webp" href="https://www.amazon.com/New-Apple-Watch-GPS-40mm-Aluminum/dp/B08J5QC43Q?dchild=1&keywords=apple+watch+series+6&qid=1616371739&sr=8-2&linkCode=ll1&tag=watchnationpr-20&linkId=2201f36464134680eb5cbcd568984ebb&language=en_US&ref_=as_li_ss_tl" blank alt="light box">-->
                {% include section-ad.html image="recommended-watch.webp" alt="Recommended Smartwatch for women" width="" url="https://www.amazon.com/New-Apple-Watch-GPS-40mm-Aluminum/dp/B08J5QC43Q?dchild=1&keywords=apple+watch+series+6&qid=1616371739&sr=8-2&linkCode=ll1&tag=watchnationpr-20&linkId=2201f36464134680eb5cbcd568984ebb&language=en_US&ref_=as_li_ss_tl" blank="true" %}
            </div>
        </div>
    </div>
