---
layout: default
---

{% assign sidebar = page.sidebar | default: 'full' %}


{% unless page.header %}
<div class="themeix-page-title">
<div class="uk-container">

  <h1 class="page-title uk-margin-medium-bottom">{{ page.title | escape }}</h1>
</div>
</div>
{% endunless %}

{% if sidebar == 'left' %}
  <div class="uk-container uk-container-small uk-margin-large">
    <div class="uk-flex" data-uk-grid>
      <div class="uk-width-expand@m">
{% elsif sidebar == 'right' %}
  <div class="uk-margin-large">
    <div class="themeix-main uk-container" data-uk-grid>

      <div class="uk-width-1-4@m uk-flex-first@m table-of-content">
        <div class="postition-sticky">


        <h4>Table of Content
          <a class="toc-menu-toggle"  uk-toggle="target: #toggle-usage" href="#"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></a>

        </h4>





        <div>

          <div hidden aria-hidden="true" id="toggle-usage">
            {% include toc.html html=content h_max=1 %}
          </div>
      </div>





      </div>
    </div>

      <div class="uk-width-expand@m themeix-content-area">
{% else %}
  <div class="uk-container uk-margin-large uk-container-xsmall">
{% endif %}

  <article class="uk-article">


    <div class="content-primary">

        {{ content }}
    </div>

  </article>

{% if sidebar == 'left' %}
    </div>
    <aside class="uk-width-1-4@m uk-flex-first@m">
      {% include sidebar-page.html %}
    </aside>
  </div>
{% elsif sidebar == 'right' %}
    </div>
    <aside class="uk-width-1-4@m">
      {% include sidebar-page.html %}
    </aside>
  </div>
{% endif %}

</div>
